<h1>Class Table</h1>

<table>
  <tr>
    <td>Class name</td>
    <td>Class students</td>
  </tr>

  <!-- REFORMAT
    <tr *ngFor="let class of classes">

    <td *ngIf="class.teachers.length">
      {{ class.name }}
    </td>

    <td *ngIf="class.teachers.length">
      <ul>
        <li *ngFor="let student of class.students">
          {{ student.name }}
        </li>
      </ul>
    </td>

  </tr> -->

  <tr *ngFor="let class of format(classes)" [class.green]="isGreen">
  
    <td>
      {{ class.name }}
    </td>
  
    <td>
      <ul>
        <li *ngFor="let student of class.students">
          {{ student.name }}
        </li>
      </ul>
    </td>
  
  </tr>
</table>

<button (click)="deleteFirstClass()">Delete</button>